
a:link,a:hover,a:visited{
    text-decoration: none;
    color:black;
}
@font-face {
    font-family: 'kremlin';
    src: url('../fonts/kremlin.ttf');
}
p{margin:16px 0;}
h2, h1{
    font-family: 'kremlin';
}
h1{font-size:2em;}
h2 {font-size:1.5em;}
body{
    overflow:hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
position: relative;
transform: rotate(-30deg);
transform-origin: 280px 0px;
}
.rtSide{
    float:right;
    border-left:15px solid black;
    width:calc(100% - 300px);
}

.ltSide{
    width:300px;
}
.red1{
    width: 100%;
    background: red;
    border-bottom:7px solid black;
    height:250px;
    color:white;
    position: relative;
}
.red1 div h2{
    margin:0px;
    padding:0px; 
    font-size:32px; 
    width:auto;
}
.red1 div:first-child{
    position:absolute;
    top:85px;
    transform: rotate(90deg);
    transform-origin: bottom left;
}
.red1 div:nth-child(2){
    position:absolute;
    bottom:0px;
    left:32px;
}
.contentHolder{
    border-bottom:7px solid black;
    height:550px;
    background:#fff;
    position: relative;
    padding:24px;
}
.contentHolder p{
    width:300px;
}
.contentHolder img{
    position: absolute;
    left:400px;
    top:calc((100% - 200px) / 2);
}
.bottomRow{
    border-bottom:8px solid black;
    height:500px;
    background:#fff;
}
.bottomLeft{
    float:left;
    height: 100%;
    width:25%;
    border-right:4px solid black;
}
.bottomRight{
    float:left;
    height: 100%;
    width:75%;
    background: blue;
    color:white;
    padding:0 24px;
}
.bioText{
    padding:12px;
    height: 540px;
    position:relative;
    width:300px;
    top:240px;
    text-align: right;
    left:-12px;
}
.bioText2{
    display:none;
    width:100%
}
.bottomYellow{
    border-top:7px solid black;
    height:700px;
    background:yellow;
    position:relative;
    width:800px;
    left:-500px;
}
.icon{
    margin-bottom:20px;
    display: block;
    line-height: 40px;
    cursor:pointer;
    font-family: 'kremlin';
}
.icon span{
    opacity: 0;
    transition: 1.5s;
}
.icon img{
    position: relative;
    top:14px;
    margin-left:12px;
}
.icon:hover span{
    opacity: 1;
}
form input, form textarea{
    width:40%;
    border:rgb(92,125,123) 1px solid;
    margin:6px 0px;
    padding:8px;
}
form input[type="submit"]{
    padding:6px;
    background: blue;
    display: inline;
    color:white;
    width:auto;
    margin-top:12px;
    cursor: pointer;
}
@media screen and (max-width:1200px){
    .wrapper{
        top:-100px;
        left:-150px;
    }
    .bioText{
        width:150px;
    }
    .rtSide{
        width:calc(100% - 150px)
    }
    .bottomLeft{
        width:20%;
    }
    .bottomRight{
        width:80%;       
    }
    .bioText{
        padding:0px;
    }
    .bottomYellow{
        left:-650px;
    }
    form input, form textarea{
        width:50%;
    }
}
@media screen and (max-width:900px){
    .wrapper{
        top:-100px;
        left:-200px;
    }
    .lftSide{
        float:left;
        width:150px;
    }
    .bottomYellow{
        left:-650px;
    }
    .bioText{
        top:440px;
        right:12px;
    }
    .bottomYellow{
        top:200px;
    }
    form input, form textarea{
        width:60%;
    }
}
@media screen and (max-width:770px){
    .contentHolder p{
        width:225px;
    }
    h2{width:200px;}
    .contentHolder img{
        position: absolute;
        left:300px;
        top:calc((100% - 200px) / 2);
    }
    form input, form textarea{
        width:75%;
    }
}
@media screen and (max-width:615px){
    .wrapper{
        position: relative;
        left:0px;
        top:0px;
        transform: rotate(0deg);
    }
    .red1{
        top:60px;
        border-bottom:7px solid black;
        height:195px;
    }
    .red1 div:first-child{
        position:absolute;
        top:-30px;
        transform: rotate(90deg);
        transform-origin: bottom left;
    }
    .red1 div:nth-child(2){
        bottom:60px;
    }
    .rtSide{
        float:none;
        border-left:5px solid black;
        width:100%;
        border-right:5px solid black;
    }    
    .lftSide{
        float:none;
        width:100%;
    }
    .contentHolder img{display: none;}
    .contentHolder p{
        width:100%;
    }
    body{
        overflow: auto;
    }
    .contentHolder{
        border-bottom:7px solid black;
        height:auto;
        background:#fff;
        position: relative;
        padding:24px;
    }
    .bottomLeft{
        border-right:none;
        width:25%;
    }
    .bottomRight{        
        border-left:4px solid black;
        width:75%;
    }
    .bottomRow{
        height:auto;
    }
    .bottomRow::after{
        height:0px;
        content:"";
        display: block;
        clear:both;
    }
    .extraRow{display: none;}
    .bioText{
        display:none;
    }
    .bioText2{
        display:block;
        position: fixed;
        top:0px;
        background:#000;
        height:60px;
        overflow: hidden;
        transition: 0.5s;
        color:white;  
    }
    .bioText2 h1{
        line-height: 60px;
        text-align: center;
        cursor: pointer;
        margin:0px;
    }
    .bioText2 .icon{      
        margin-bottom:2px;
        width:48%;
        display: inline-block;
        line-height: 40px;
        cursor:pointer;        
    }
    .bioText2:hover{
        height:180px;
        transition: 0.5s;
    }
    .bottomYellow{display: none;}
    a:link,a:hover,a:visited{
        text-decoration: none;
        color:white;
    }
}